@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    @apply font-Poppins
}
body {
    overflow-x: hidden;
}
.btn {
    height: fit-content;
    padding-left: 0;
    padding-right: 0;
    @apply rounded-lg gap-0 hover:gap-1 transition-all duration-300 py-5 px-6
}
.btn > svg {
    width: 0px;
    height: 0px;
    opacity: 0;
    transition: all 0.3s ease
}
.btn:hover > svg {
    width: 14px;
    height: 14px;
    opacity: 1;
}
.card {
    @apply rounded-3xl
}